@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@font-face {
    font-family: "vazir";
    src: url("/fonts/Vazir.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "vazir";
    src: url("/fonts/Vazir-Light.woff2") format("woff2");
    font-weight: 200;
    font-style: normal;
}
/* farsi digits font */
@font-face {
    font-family: "vazir";
    src: url("/fonts/Vazir-FD-WOL.woff2") format("woff2");
    font-weight: 400;
    unicode-range: U+0030-0039;
}

.font-vazir {
    font-family: "vazir", sans-serif;
}


.ltr-input {
    direction: ltr;
    text-align: left;
}

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
    --font-sans: Geist, sans-serif;
    --font-mono: "Fira Code", "Courier New", monospace;
    --font-serif: "Lora", Georgia, serif;
    --radius: 0.5rem;
    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
    --tracking-normal: var(--tracking-normal);
    --shadow-2xl: var(--shadow-2xl);
    --shadow-xl: var(--shadow-xl);
    --shadow-lg: var(--shadow-lg);
    --shadow-md: var(--shadow-md);
    --shadow: var(--shadow);
    --shadow-sm: var(--shadow-sm);
    --shadow-xs: var(--shadow-xs);
    --shadow-2xs: var(--shadow-2xs);
    --spacing: var(--spacing);
    --letter-spacing: var(--letter-spacing);
    --shadow-offset-y: var(--shadow-offset-y);
    --shadow-offset-x: var(--shadow-offset-x);
    --shadow-spread: var(--shadow-spread);
    --shadow-blur: var(--shadow-blur);
    --shadow-opacity: var(--shadow-opacity);
    --color-shadow-color: var(--shadow-color);
    --color-destructive-foreground: var(--destructive-foreground);
}
@font-face {
    font-family: "VazirText";
    src: url("/fonts/Vazir.ttf") format("truetype");
    font-weight: 400;
    unicode-range: U+0600-06FF; /* حروف فارسی */
}

@font-face {
    font-family: "VazirDigits";
    src: url("/fonts/VazirNumbers.ttf") format("truetype");
    font-weight: 400;
    unicode-range: U+0030-0039; /* 0 تا 9 */
}

:root {
    --radius: 0.5rem;
    --background: oklch(0.9612 0 0);
    --foreground: oklch(0.2376 0.0036 228.9515);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.2376 0.0036 228.9515);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.2376 0.0036 228.9515);
    --primary: oklch(0.5511 0.084 210.0877);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.8604 0.0446 207.0458);
    --secondary-foreground: oklch(0.2376 0.0036 228.9515);
    --muted: oklch(0.916 0.0145 213.1004);
    --muted-foreground: oklch(0.521 0.024 215.445);
    --accent: oklch(0.3018 0.06 231.9223);
    --accent-foreground: oklch(0.955 0.01 212.522);
    --destructive: oklch(0.6332 0.1578 22.6734);
    --border: oklch(0.8502 0.0168 211.0423);
    --input: oklch(0.9259 0.0135 214.3613);
    --ring: oklch(0.5976 0.0915 210.5271);
    --chart-1: oklch(0.5976 0.0915 210.5271);
    --chart-2: oklch(0.3018 0.06 231.9223);
    --chart-3: oklch(0.7321 0.0749 169.867);
    --chart-4: oklch(0.854 0.0882 76.8292);
    --chart-5: oklch(0.7857 0.0645 258.0839);
    --sidebar: oklch(0.9612 0 0);
    --sidebar-foreground: oklch(0.2376 0.0036 228.9515);
    --sidebar-primary: oklch(0.5976 0.0915 210.5271);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.3018 0.06 231.9223);
    --sidebar-accent-foreground: oklch(0.955 0.01 212.522);
    --sidebar-border: oklch(0.8502 0.0168 211.0423);
    --sidebar-ring: oklch(0.5976 0.0915 210.5271);
    --destructive-foreground: oklch(1 0 0);
    --font-sans: Geist, sans-serif;
    --font-serif: "Lora", Georgia, serif;
    --font-mono: "Fira Code", "Courier New", monospace;
    --shadow-color: hsl(0 0% 0%);
    --shadow-opacity: 0.06;
    --shadow-blur: 5px;
    --shadow-spread: 1px;
    --shadow-offset-x: 1px;
    --shadow-offset-y: 2px;
    --letter-spacing: 0em;
    --spacing: 0.25rem;
    --shadow-2xs: 1px 2px 5px 1px hsl(0 0% 0% / 0.03);
    --shadow-xs: 1px 2px 5px 1px hsl(0 0% 0% / 0.03);
    --shadow-sm:
        1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 1px 2px 0px hsl(0 0% 0% / 0.06);
    --shadow:
        1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 1px 2px 0px hsl(0 0% 0% / 0.06);
    --shadow-md:
        1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 2px 4px 0px hsl(0 0% 0% / 0.06);
    --shadow-lg:
        1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 4px 6px 0px hsl(0 0% 0% / 0.06);
    --shadow-xl:
        1px 2px 5px 1px hsl(0 0% 0% / 0.06),
        1px 8px 10px 0px hsl(0 0% 0% / 0.06);
    --shadow-2xl: 1px 2px 5px 1px hsl(0 0% 0% / 0.15);
    --tracking-normal: 0em;
}

.dark {
    --background: oklch(0.2221 0 0);
    --foreground: oklch(0.955 0.01 212.522);
    --card: oklch(0.3018 0.06 231.9223);
    --card-foreground: oklch(0.955 0.01 212.522);
    --popover: oklch(0.3018 0.06 231.9223);
    --popover-foreground: oklch(0.955 0.01 212.522);
    --primary: oklch(0.5976 0.0915 210.5271);
    --primary-foreground: oklch(0.2376 0.0036 228.9515);
    --secondary: oklch(0.4411 0.0759 215.1969);
    --secondary-foreground: oklch(0.955 0.01 212.522);
    --muted: oklch(0.2526 0.036 234.5341);
    --muted-foreground: oklch(0.6777 0.0207 217.3177);
    --accent: oklch(0.955 0.01 212.522);
    --accent-foreground: oklch(0.3018 0.06 231.9223);
    --destructive: oklch(0.6875 0.142 21.4566);
    --border: oklch(0.3496 0.0345 229.5667);
    --input: oklch(0.3077 0.0294 225.1075);
    --ring: oklch(0.5976 0.0915 210.5271);
    --chart-1: oklch(0.5976 0.0915 210.5271);
    --chart-2: oklch(0.955 0.01 212.522);
    --chart-3: oklch(0.7321 0.0749 169.867);
    --chart-4: oklch(0.854 0.0882 76.8292);
    --chart-5: oklch(0.7857 0.0645 258.0839);
    --sidebar: oklch(0.1815 0.0198 242.5411);
    --sidebar-foreground: oklch(0.955 0.01 212.522);
    --sidebar-primary: oklch(0.5976 0.0915 210.5271);
    --sidebar-primary-foreground: oklch(0.2376 0.0036 228.9515);
    --sidebar-accent: oklch(0.955 0.01 212.522);
    --sidebar-accent-foreground: oklch(0.3018 0.06 231.9223);
    --sidebar-border: oklch(0.3077 0.0294 225.1075);
    --sidebar-ring: oklch(0.5976 0.0915 210.5271);
    --destructive-foreground: oklch(0.2376 0.0036 228.9515);
    --radius: 0.5rem;
    --font-sans: Geist, sans-serif;
    --font-serif: "Lora", Georgia, serif;
    --font-mono: "Fira Code", "Courier New", monospace;
    --shadow-color: hsl(0 0% 0%);
    --shadow-opacity: 0.06;
    --shadow-blur: 5px;
    --shadow-spread: 1px;
    --shadow-offset-x: 1px;
    --shadow-offset-y: 2px;
    --letter-spacing: 0em;
    --spacing: 0.25rem;
    --shadow-2xs: 1px 2px 5px 1px hsl(0 0% 0% / 0.03);
    --shadow-xs: 1px 2px 5px 1px hsl(0 0% 0% / 0.03);
    --shadow-sm:
        1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 1px 2px 0px hsl(0 0% 0% / 0.06);
    --shadow:
        1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 1px 2px 0px hsl(0 0% 0% / 0.06);
    --shadow-md:
        1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 2px 4px 0px hsl(0 0% 0% / 0.06);
    --shadow-lg:
        1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 4px 6px 0px hsl(0 0% 0% / 0.06);
    --shadow-xl:
        1px 2px 5px 1px hsl(0 0% 0% / 0.06),
        1px 8px 10px 0px hsl(0 0% 0% / 0.06);
    --shadow-2xl: 1px 2px 5px 1px hsl(0 0% 0% / 0.15);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
        letter-spacing: var(--tracking-normal);
    }
    
}
@layer components {
    .title{
        @apply text-3xl font-semibold tracking-tight my-5;
    }
}
